accelerate==1.2.1
annotated-types==0.7.0
click==8.1.8
contourpy==1.3.0
cycler==0.12.1
diffusers==0.32.1
docker-pycreds==0.4.0
einops==0.8.0
eval-type-backport==0.2.2
fonttools==4.55.3
fsspec==2024.12.0
gitdb==4.0.12
gitpython==3.1.44
huggingface-hub==0.27.1
importlib-metadata==8.5.0
importlib-resources==6.5.2
joblib==1.4.2
kiwisolver==1.4.7
matplotlib==3.9.4
peft==0.14.0
protobuf==5.29.3
psutil==6.1.1
pydantic==2.10.5
pydantic-core==2.27.2
pyparsing==3.2.1
regex==2024.11.6
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.13.1
sentence-transformers==3.3.1
sentry-sdk==2.20.0
setproctitle==1.3.4
smmap==5.0.2
sympy==1.13.1
threadpoolctl==3.5.0
tokenizers==0.21.0
tqdm==4.67.1
transformers==4.48.0
wandb==0.19.3
zipp==3.21.0
